html, body {
    min-height: 100%;
}

/* The sidebar menu */
.sidenav {
  /* font-family: 'Ubuntu Mono';font-size: 22px; */
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 100px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #222; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  transition: .5s;
}

/* The sidebar menu */
.sidenav:hover {
  /* font-family: 'Ubuntu Mono';font-size: 22px; */
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 250px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #222; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  transition: .5s;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition:color 1s ease-in-out;
}

/* When you mouse over the navigation links, change their color */
/* .sidenav a:hover {
  color: #f1f1f1;
} */

/* social-links */
.social-links {
  padding: 6px 1px 0px 10px;
  position: absolute;
  bottom: 25px
}

.social-links img:hover {
  filter: brightness(50%);
}

/* Style page content */
.main {
  margin-left: 100px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

#introduction h1 {
    font-family: 'Ubuntu Mono';
    margin-right: 30%;
    margin-bottom: 3px;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    color: #45505b;
}

#introduction h3 {
    font-family: 'Ubuntu Mono';
    margin-right: 30%;
    margin-top: 0px;
    font-size: 32px;
    font-weight: 700;
    line-height: 56px;
    color: #45505b;
}

#introduction p {
    font-family: 'Ubuntu Mono';
    margin: ;
    font-size: 24px;
    font-weight: 700;
    /* line-height: 56px; */
    color: #45505b;
}

.center-justification {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.left-text-justification {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  text-align: left;
  min-height: 100vh;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
/* @media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} */
